/* order presedence
1. inline style
2. internal style
3. external style 

these will override all precedence*/


/*old/

li{
    display: inline;
}

/* newway inline */

ul{
    display: flex;
    flex-direction: row;  /*by default, displays flex has flex direction*/
    list-style-type: none;
    gap:16px;
}

main h1 image{
    display: flex;
}

header{
    display: flex;
    justify-content: space-between;
}

section{
    display: flex;
    justify-content: center;
}

button{
    padding: 0.5rem 1rem;
    color: #3c4843;
    border-radius: 4px;
    background-color:#f8f9fa;
    border: 1px solid #f8f9fa;
    cursor: pointer;
}

footer{
    display: flex;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}